{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body align="center" style="background-image:url({% static 'images/d2.png' %});background-size:cover;background-repeat:no-repeat">
<h2>Registration Form</h2>
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Your Username"><br>
     <input type="text" name="firstname" placeholder="Enter Your First Name"><br>
     <input type="text" name="lastname" placeholder="Enter Your Last Name"><br>
     <input type="email" name="email" placeholder="Enter Your Email"><br>
     <input type="password" name="password" placeholder="Enter Password"><br>
     <input type="password" name="password1" placeholder="Confirm Password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>